{# @copyright   Copyright (C) 2010-2020 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}
{% extends './GanttViewer.html.twig' %}

{% block head %}
	{% if bEditMode %}
		<div class="main_header">
			<h1>{{ sTitle }}</h1>
		</div>
		<div id="workSpace{{ sId }}" style="padding:0px; overflow-y:auto; overflow-x:hidden;border:1px solid #e5e5e5;position:relative;margin:0 5px; max-height: 200px;">
		</div>
		<div id="gantEditorTemplates{{ sId }}">
			<div class="__template__" type="GANTBUTTONS"><!-- --></div>
	{% else %}
	<div id="workSpace{{ sId }}" style="padding:0px; overflow-y:auto; overflow-x:hidden;border:1px solid #e5e5e5;position:relative;margin:0 5px">
	</div>
	<div id="gantEditorTemplates{{ sId }}">
		<div class="__template__" type="GANTBUTTONS"><!--
			<div class="ganttButtonBar noprint main_header">
				<h1>{{ sTitle }}&nbsp;&nbsp;&nbsp;&nbsp;</h1>
				<button onclick="$('#workSpace{{ sId }}').trigger('zoomMinus.gantt'); return false;" class="button textual icon " title="zoom out"><span class="teamworkIcon">)</span></button>
				<button onclick="$('#workSpace{{ sId }}').trigger('zoomPlus.gantt');return false;" class="button textual icon " title="zoom in"><span class="teamworkIcon">(</span></button>
				<span class="ganttButtonSeparator"></span>
				<button onclick="ge{{ sId }}.gantt.showCriticalPath=!ge{{ sId }}.gantt.showCriticalPath; ge{{ sId }}.redraw();return false;" class="button textual icon requireCanSeeCriticalPath" title="CRITICAL_PATH"><span class="teamworkIcon">&pound;</span></button>
				<span class="ganttButtonSeparator requireCanSeeCriticalPath"></span>
				<button onclick="ge{{ sId }}.splitter.resize(.1);return false;" class="button textual icon" ><span class="teamworkIcon">F</span></button>
				<button onclick="ge{{ sId }}.splitter.resize(50);return false;" class="button textual icon" ><span class="teamworkIcon">O</span></button>
				<button onclick="ge{{ sId }}.splitter.resize(100);return false;" class="button textual icon"><span class="teamworkIcon">R</span></button>
			</div>
			-->
		</div>
	{% endif %}
{% endblock %}